{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
<h3 class="display-6">Detalhes da Requisição</h3>

<div class="card">
    <div class="card-body table-bordered">
         
          <h3 class="card-title">{{ requisicao.nome }}</h3>
          <p class="card-text"> Nome : {{ requisicoes.nome }}</p>
          <p class="card-text"> Endereço : {{ requisicoes.endereco }}</p>
          <p class="card-text"> Contrato : {{ requisicoes.contrato }}</p>
          <p class="card-text"> CNPJ :  {{ requisicoes.cnpj }}</p>
          <p class="card-text"> Inicio do contrato :  {{ requisicoes.inicio_de_contrato }}</p>
          <p class="card-text"> Vigêcia : {{ requisicoes.vigencia }}</p>
          <p class="card-text"> Data : {{ requisicoes.data }}</p>
          <p class="card-text"> Motivo : {{ requisicoes.motivo }}</p>
          <p class="card-text"> Envio : {{ requisicoes.envio }}</p>
          <p class="card-text"> Comercial : {{ requisicoes.comercial }}</p>
          <p class="card-text"> Tipo de acesso :{{ requisicoes.tipo_acesso }}</p>
          <p class="card-text"> Tipo de produto :{{ requisicoes.tipo_produto }}</p>
          <p class="card-text"> Carregador :{{ requisicoes.carregador }}</p>
          <p class="card-text"> Cabo : {{ requisicoes.cabo }}</p>
          <p class="card-text"> Tipo de fatura : {{ requisicoes.tipo_fatura }}</p>
          <p class="card-text"> Valor unitario :{{ requisicoes.valor_unitario }}</p>
          <p class="card-text"> Valor total : {{ requisicoes.valor_total }}</p>
          <p class="card-text"> Formas de pagamento :{{ requisicoes.forma_pagamento }}</p>
          <p class="card-text"> Observaçoes : {{ requisicoes.observacoes }}</p>
          <p class="card-text"> status : {{ requisicoes.status }}</p>
          <p class="card-text"> TP : {{ requisicoes.TP }}</p>
          <p class="card-text"> Numero de Equipamentos : {{ requisicoes.numero_de_equipamentos }}</p>
        


        </div>
        <div>

            <a href="{% url 'ceoListViews' %}" class="btn btn-secondary mt3">  Voltar</a>
        </div>

{% endblock %}