{% extends 'base.html' %}
{% block content %}
<style>

    .container {
        max-width: 70rem; /* Define a largura máxima do container */
        margin: 0 auto; 
        height: 80rem;/* Centraliza o container na tela */
    }
    
    .card {
        padding: 20px; /* Adiciona espaçamento interno ao card */
    }
    
    .card-body {
        padding: 15px; /* Adiciona espaçamento interno ao corpo do card */
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Adiciona espaçamento entre os elementos do formulário */
    }
    
    input[type="submit"], .btn-secondary {
        width: fit-content; /* Ajusta a largura dos botões ao conteúdo */
        align-self: center; /* Centraliza os botões no formulário */
    }
    
    h3.display-4 {
    font-size: 2rem; /* Ajusta o tamanho da fonte do título */
    text-align: center; /* Centraliza o título */
}
</style>

<div class="container mt-4">
    <h3 class="display-4"> <strong>Criar Entrada</h3></strong> 

    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="hidden" id="quantidade" name="quantidade" value="0"> <!-- Campo oculto para quantidade -->

                <button type="submit" class="btn btn-primary"> Salvar Entrada</button>
            </form>
        </div>
    </div>
    <a href="{% url 'FormulariosCreateView' %}" class="btn btn-secondary mt-3"> Cancelar e Voltar</a>
</div>
<script>
    document.addEventListener("keydown", function(e) {
        if (e.key === "Enter") {
            e.preventDefault(); // Bloqueia a tecla Enter
        }
    });

    document.addEventListener("input", function(e) {
        var input = e.target;
        var value = input.value;
        var patterns = ["35154", "35642", "86590", "86325"];

        var quantidade = 0;

        patterns.forEach(function(pattern) {
            var count = (value.match(new RegExp(pattern, "g")) || []).length;
            if (count > 0) {
                console.log("Padrão detectado: " + pattern + " - " + count + " vezes"); // Log para depuração
                value = value.replace(new RegExp(pattern, "g"), "     "); // Substitui o padrão por 5 espaços
                quantidade += count; // Incrementa a quantidade
            }
        });

        // Remove o último número a cada 10 números inteiros e adiciona 5 espaços
        var regex = /(\d{9})(\d)/g;
        value = value.replace(regex, function(match, p1, p2) {
            return p1 + "     "; // Remove o último número e adiciona 5 espaços
        });

        input.value = value; // Atualiza o valor do campo de entrada

        // Atualiza o campo oculto de quantidade
        document.getElementById("quantidade").value = quantidade;
        console.log("Quantidade total de padrões encontrados: " + quantidade); // Log para depuração
    });
</script>
{% endblock %}
