{% extends 'base.html' %}
{% block title %}
| Grupo Golden Sat | 
{% endblock %}

{% include 'components/_header.html' %}
{% block content %}

<div class="container mt-4">
    <a class="btn btn-success" href="{% url 'criar_retorno' %}">Relatorio de Retorno</a>

    <!-- Formulário de Pesquisa -->
    <form method="GET" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="id" class="form-control" placeholder="Buscar por ID" value="{{ request.GET.id }}">
            </div>
            <div class="col-md-4">
                <input type="text" name="nome" class="form-control" placeholder="Buscar por Nome" value="{{ request.GET.nome }}">
            </div>
            <div class="col-md-4">
                <select name="status" class="form-control">
                    <option value="">Selecione o Status</option>
                    <option value="Pendente" {% if request.GET.status == 'Pendente' %}selected{% endif %}>Pendente</option>
                    <option value="Manutenção" {% if request.GET.status == 'Manutenção' %}selected{% endif %}>Manutenção</option>
                    <option value="Reprovado pela Inteligência" {% if request.GET.status == 'Reprovado pela Inteligência' %}selected{% endif %}>Reprovado pela Inteligência</option>
                    <option value="Aprovado pela Diretoria" {% if request.GET.status == 'Aprovado pela Diretoria' %}selected{% endif %}>Aprovado pela Diretoria</option>
                    <!-- Adicione outros status conforme necessário -->
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Buscar</button>
    </form>

    <!-- Início da seção de exibição dos registros -->
    <div class="row">
        {% for registro in dasentradas %}
        <div class="col-md-3 mb-4">
            <div class="card card-status {% if registro.status == 'Aprovado Inteligência' %}Aprovado_Inteligência{% elif registro.status == 'Reprovado Inteligência' %}Reprovado_Inteligência{% elif registro.status == 'Reprovado' %}Reprovado{% elif registro.status == 'Manutenção' %}Manutenção{% elif registro.status == 'Pendente' %}Pendente{% elif registro.status == 'Expedido' %}Expedido{% elif registro.status == 'Reprovado pelo CEO' %}Reprovado_pelo_CEO{% elif registro.status == 'Aprovado pelo CEO' %}Aprovado_pelo_CEO{% elif registro.status == 'Reprovado pela Diretoria' %}Reprovado_pela_Diretoria{% elif registro.status == 'Aprovado pela Diretoria' %}Aprovado_pela_Diretoria{% endif %}">
                <div class="card-body">
                    <h5 class="card-title"><h3>Registro #{{ registro.id }}</h3></h5>
                    <h5 class="card-title">Nome : {{ registro.nome }}</h5>
                    <p class="card-text"><b>Data:</b> {{ registro.data_criacao }}</p>
                    <p class="card-text"><b>Status:</b> {{ registro.status }}</p>
                    <p class="card-text"><b>Tipo de Entrada:</b> {{ registro.tipo_entrada }}</p>
                    <p class="card-text"><b>Tipo de Produto:</b> {{ registro.tipo_produto }}</p>
                    <p class="card-text"><b>Customização:</b> {{ registro.customizacaoo }}</p>
                    <p class="card-text"><b>Motivo:</b> {{ registro.motivo }}</p>
                    <p class="card-text"><b>Setor:</b> {{ registro.setor }}</p>
                    <!-- Botões de ação -->
                    <a class="btn btn-primary" href="{% url 'FormularioDetailView' registro.id %}">Visualizar</a>
                    {% if perms.registrodemanutencao.change_registrodemanutencao %}
                    <a class="btn btn-primary" href="{% url 'FormulariosUpdateView' registro.id %}">Editar</a>
                    <a class="btn btn-success" href="{% url 'Aprovado_Inteligência' registro.id %}">Aprovar</a>
                    <a class="btn btn-info" href="{% url 'download_pdfmanutencao' registro.id %}">Download PDF</a>
                    <a class="btn btn-info" href="{% url 'download_protocolo_entrada' registro.id %}">Protocolo</a>
                    <a class="btn btn-danger" href="{% url 'Reprovado_Inteligência' registro.id %}">Diretoria</a>
                    <a class="btn btn-danger" href="{% url 'Reprovado_Inteligência2' registro.id %}">Reprovado</a>
                    <a class="btn btn-info" href="{% url 'editado_manutencao' registro.id %}">Manutenção Concluida</a>
                    {% endif %}
                    {% if registro.has_retorno_images %}
                    <a class="btn btn-warning" href="{% url 'download_laudo_saida' registro.id %}">Laudo de Saída</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">Nenhum registro encontrado.</p>
        </div>
        {% endfor %}
    </div>

    <!-- Inclui o componente de paginação. -->
    {% include 'components/_pagination.html' %}
</div>

{% endblock %}
