<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="text-center">| Grupo Golden Sat |</h1>
        </header>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    <!-- Formulário de Login -->
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de Usuário</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                    
                    <!-- Link para Cadastro -->
                     {% if perm.%}
                    <div class="text-center mt-4">
                        <a href="{% url 'register' %}" class="btn btn-info w-100">Criar Conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inclua o jQuery, Popper.js e Bootstrap JS no final do body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
