{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-4 text-center">Registros T42</h3>
    <div class="filter-container mb-4">
        <form method="get" action="{% url 'registrar_estoque_t42' %}" class="form-inline justify-content-center">
            <div class="form-group mr-2">
                <input type="text" name="search" class="form-control" placeholder="Buscar por Nome ou ID Equipamento" value="{{ request.GET.search }}">
            </div>
            <div class="form-group mr-2">
                <select name="estoque_status" class="form-control">
                    <option value="">Todos os Status de Estoque</option>
                    <option value="Estoque" {% if request.GET.estoque_status == "Estoque" %}selected{% endif %}>Estoque</option>
                    <option value="Retornando" {% if request.GET.estoque_status == "Retornando" %}selected{% endif %}>Retornando</option>
                    <option value="Enviado" {% if request.GET.estoque_status == "Enviado" %}selected{% endif %}>Enviado</option>
                    <option value="Extraviado" {% if request.GET.estoque_status == "Extraviado" %}selected{% endif %}>Extraviado</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    <div class="row text-center">
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total de TETS</h5>
                    <p class="card-text">{{ total_tets }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total de TETS R</h5>
                    <p class="card-text">{{ total_tets_r }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total LOKIES</h5>
                    <p class="card-text">{{ total_LOKIES }}</p>
                </div>
            </div>
        
    </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total em Estoque</h5>
                    <p class="card-text">{{ total_estoque }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Retornando</h5>
                    <p class="card-text">{{ total_retornando }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Enviado</h5>
                    <p class="card-text">{{ total_enviado }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total Extraviado</h5>
                    <p class="card-text">{{ total_extraviado }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Total em Manutenção</h5>
                    <p class="card-text">{{ total_manutencao }}</p>
                </div>
            </div>
        </div>
  

    <table class="table table-striped table-hover mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">Equipamento</th>
                <th scope="col">ID do Equipamento</th>
                <th scope="col">Status equipamento</th>
                <th scope="col">Data</th>
                <th scope="col">Reversa</th>
                <th scope="col">Estoque Status</th>
            </tr>
        </thead>
        <tbody>
            {% for t42 in t42_estoques %}
            <tr>
                <td>{{ t42.nome }}</td>
                <td>{{ t42.equipamento }}</td>
                <td>{{ t42.id_equipamento }}</td>
                <td>{{ t42.status }}</td>
                <td>{{ t42.data }}</td>
                <td>{{ t42.reversa }}</td>
                <td>{{ t42.estoque_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'components/_pagination.html' %}
{% endblock %}
