<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #343a40; 
            font-size: 0.99rem;/* Cor de fundo */
        }
        .navbar-custom .nav-link {
            color: #ffffff; /* Cor do texto */
        }
        .navbar-custom .nav-link:hover {
            color: #f8f9fa; /* Cor do texto ao passar o mouse */
        }
        .navbar-custom .nav-link i {
            margin-right: 5px; /* Espaço entre ícone e texto */
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Golden Sat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lembretes' %}">
                            <i class="bi bi-speedometer2"></i> Painel
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <i class="bi bi-bank2"></i> Ticket
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'ticketCreateView' %}">Ticket</a></li>
                            <li><a class="dropdown-item" href="{% url 'ticketListView' %}">Ticket List </a></li>
                            
                         
                         </ul>
                           
                    </li>
                       
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="bi bi-house-add-fill"></i> Home
                        </a>
                    </li>
               
                    <li class="nav-item">
                        {% if perms.produto.view_produto %}
                            <a class="nav-link" href="{% url 'produto_list' %}">
                                <i class="bi bi-dropbox"></i> Produtos
                            </a>
                            {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if perms.produto.view_produto %}
                            <a class="nav-link" href="{% url 'cliente_list' %}">
                                <i class="bi bi-file-person"></i> Cadastro de Clientes
                            </a>
                            {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        {% if perms.estoqueview_estoque %}
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bookshelf"></i> Estoque
                        </a> 
                    </a> 
                    {% endif %}
                    {% if perms.saidas.view_saidas %}
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'saidas_list' %}">Estoque - Saidas</a></li>
                            <li><a class="dropdown-item" href="{% url 'estoque_list' %}">Estoque - Entradas</a></li>
                            
                        </ul>
                        {% endif %}
                    </li>
                    {% if perms.registrodemanutencao.view_registrodemanutencao %}
                    {% if perms.registrodemanutencao.add_registrodemanutencao %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-building-fill-x"></i> Departamentos 
                        </a>
                        {% endif %}
                        {% endif %}
                        
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            {% if manutencao and manutencao.id %}
                                <li><a class="dropdown-item" href="{% url 'rejeitadas' manutencao.id %}">Manutenções Rejeitadas</a></li>
                            {% else %}
                                
                            {% endif %}
                            {% if perms.requisicao.add_requisicoes %}
                            {% if perms.registrodemanutencao.add_registrodemanutencao %}
                            <li><a class="dropdown-item" href="{% url 'FormulariosCreateView' %}">Entrada / Manutenção</a></li>
                            {% endif %}
                            {% endif %}
                            {% if perms.requisicao.view_requisicoes %}
                            {% if perms.requisicao.delete_requisicoes %}
                            
                            <li><a class="dropdown-item" href="{% url 'ConfiguracaoListView' %}">Departamento de Configuração </a></li>
                            {% endif %}
                            {% endif %}
                           
                            {% if perms.requisicao.view_requisicoes %}
                                {% if perms.requisicao.add_requisicoes %}
                                {% if perms.produto.change_produto %}
                            <li><a class="dropdown-item" href="{% url 'entradasListView' %}">Departamento de Manutenção</a></li>
                               
                            <li><a class="dropdown-item" href="{% url 'lista_retornos' %}">Protocolo de Retorno</a></li>
                          
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if perms.requisicao.view_requisicoes %}
                            {% if perms.acompanhamento.delete_clientes %}
                            
                            <li><a class="dropdown-item" href="{% url 'expedicaoListViews' %}">Departamento de Expedição</a></li>
                            {% endif %}
                            {% endif %}
                           
                            {% if perms.requisicao.add_requisicoes %}
                            <li><a class="dropdown-item" href="{% url 'historico_manutencaoListView' %}">Historico de Manutenção</a></li>
                            {% endif %}
                            
                        </ul>
                    </li>
                    {% if perms.registrodemanutencao.change_registrodemanutencao %}
                    {% if perms.requisicao.add_requisicoes %}
                    {% if perms.produto.add_produto %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-globe-europe-africa"></i>Corporativo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            {% if perms.saidas.delete_saidas %}
                            <li><a class="dropdown-item" href="{% url 'diretoriaListViews' %}">Diretoria</a></li>
                            
                            <li><a class="dropdown-item" href="{% url 'ceoListViews' %}">CEO</a></li>
                            <li><a class="dropdown-item" href="{% url 'admin_dashboard' %}">Controle</a></li>
                            {% endif %} 
                            <!-- <li><a class="dropdown-item" href="{% url 'FinanceiroListViews' %}">Acionamentos</a></li> -->
                            <!-- <li><a class="dropdown-item" href="{% url 'FinanceirohListViews' %}">Historico de Acionamentos</a></li> -->
                            
                        </ul> 
                        {% endif %} 
                        {% endif %} 
                        {% endif %} 
                    </li>
                    {% if perms.reativacao.view_reativacao %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-journal-text"></i>Formulario de Reativação
                        </a>
                        {% endif %}
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                           
                            

                            <li><a class="dropdown-item" href="{% url 'reativacao_id_iccid_adicionar' %}">Formulario de Reativação</a></li>
                        </ul>
                    </li>
                    <!-- Menu Drop-down para "Acompanhamento" -->
                    {% if perms.requisicao.add_requisicoes %}
                    {% if perms.requisicao.view_requisicoes %}
                    {% if perms.faturamento.view_formulario %}
                    {% if perms.reativacao.view_reativacao %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-graph-up"></i> Formulario de Vendas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'requisicoes' %}">Requisiçao</a></li>
                            {% if perms.t42.view_t42model %}
                          
                         
                            <li><a class="dropdown-item" href="{% url 'RegistrarEstoqueantenistaView' %}">Estoque - Antenista</a></li>
                            {% endif %}
                            
                            <li><a class="dropdown-item" href="{% url 'historicoListViews' %}">Historico Requisiçoes</a></li>
                        </li>
                        </ul>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <li class="nav-item dropdown">
                        {% if perms.formacompanhamento.view_formacompanhamento %}
                        {% if perms.formacompanhamento.view_agentes %}
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-graph-up"></i> Acompanhamento
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'formacompanhamento' %}">Formulario de Acompanhamento</a></li>
                            <li><a class="dropdown-item" href="{% url 'facomp' %}">Acompanhamentos</a></li>
                            <li><a class="dropdown-item" href="{% url 'rprestador' %}">Registro de prestador</a></li>
                            <li><a class="dropdown-item" href="{% url 'prestador_list' %}">Prestadores</a></li>
                            <li><a class="dropdown-item" href="{% url 'agenteCreateView' %}">Registro de Agentes</a></li>
                            <li><a class="dropdown-item" href="{% url 'agentesListView' %}">Lista de Agentes</a></li>
                            <li><a class="dropdown-item" href="{% url 'regcliente' %}">Registro de Clientes</a></li>
                            <li><a class="dropdown-item" href="{% url 'regcliente_list' %}">Lista de Clientes</a></li>
                            <li><a class="dropdown-item" href="{% url 'FinanceirohListViews' %}">Historico de Acionamentos</a></li>
                            
                        </ul>
                        {% endif %}
                        {% endif %}
                    </li>
                    {% if perms.tuper.view_transportadora %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="i bi-folder"></i> Projeto Tuper
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'registrar_transportadora' %}">Registro de Transportadora</a></li>
                            <li><a class="dropdown-item" href="{% url 'divisao_iscas' %}">Formulario de Distribuidora</a></li>
                            <li><a class="dropdown-item" href="{% url 'registrar_estoque' %}">Estoque</a></li>
                          
                            
                        </ul>
                    </li>
                   
                   {% endif %}
                   {% if perms.requisicao.add_requisicoes %}
                   {% if perms.requisicao.view_requisicoes %}
                   {% if perms.faturamento.view_formulario %}
                   {% if perms.reativacao.view_reativacao %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-calendar-check"></i> Faturamento
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'faturamento_list' %}">Faturamento</a></li>
                            <li><a class="dropdown-item" href="{% url 'Contrato_list' %}">Contratos</a></li>
                            <li><a class="dropdown-item" href="{% url 'formulario_create' %}">Formulario de Contratos</a></li>
                            <li><a class="dropdown-item" href="{% url 'reativacao_list' %}">Reativações</a></li>

                            <li><a class="dropdown-item" href="{% url 'FinanceirohListViews' %}">Historico de Acionamentos</a></li>
                            <li><a class="dropdown-item" href="{% url 'requisicoes_list' %}">Requisições</a></li>
                            
                          
                            
                        </ul>
                    </li>

                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                   
                    {% if perms.qualit.view_qualit %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-card-checklist"></i> Quality
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                            <li><a class="dropdown-item" href="{% url 'listar_qualits' %}">Consulta de Iscas</a></li>

                            {% if perms.formacompanhamento.view_agentes %}

                            <li><a class="dropdown-item" href="{% url 'iao_create' %}">Formulario  de Acionamentos</a></li>
                            <li><a class="dropdown-item" href="{% url 'iao_list' %}">Historico de Acionamentos</a></li>

                            
                        </ul>
                    </li>
                   {% endif %}
                   {% endif %}
                   {% if perms.t42.view_t42model %}
                   <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="bi bi-airplane"></i> Projeto Container
                       </a>
                       <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                           <li><a class="dropdown-item" href="{% url 't42_view' %}">Status</a></li>
                           <li><a class="dropdown-item" href="{% url 'registrar_estoque_t42' %}">Estoque</a></li>
                       </ul>
                   </li>
               {% endif %}
                   {% if perms.t42.change_t42model %}
                   <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-cpu"></i> Setor Tecnico
                       </a>
                       <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                           <li><a class="dropdown-item" href="{% url 'tecnicoListView' %}">Configurão Área Técnica</a></li>
                           </ul>
                   </li>
               {% endif %}
                   {% if perms.pparada.view_paradasegura %}
                   <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="dropdownAcompanhamento" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bank2"></i> Parada Segura 
                       </a>
                       <ul class="dropdown-menu" aria-labelledby="dropdownAcompanhamento">
                           <li><a class="dropdown-item" href="{% url 'passagemCreateView' %}">Formulario de Passagem de Serviço </a></li>
                           <li><a class="dropdown-item" href="{% url 'paradaseguraform' %}">Formulario PA </a></li>
                           <li><a class="dropdown-item" href="{% url 'paradaseguralist' %}">Lista de PA </a></li>
                           <li><a class="dropdown-item" href="{% url 'historico_passagem' %}">Historico de Passagem  </a></li>
                           
                        
                        </ul>
                          
                   </li>
                   {% endif %}
                 


                
                  <li class="nav-item">
    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
        </form>
        <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">
        <i class="bi bi-box-arrow-left"></i> Logout
        </a>
        </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>