

{% extends 'base.html'%}

{% block content %}

<body>
            <div class="container">
            <h1>Grupo Golden Sat</h1>
        </div>
    </header>

    <div class="container mt-4">
        <p><h2>Bem-vindo(a)
             {{user.username}}</p></h2>
        <p></p>
    </div>

    <div>


    


    </div>
  
        <div class="row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title" ></h5>
                  
                       
                        <p>O setor de Inteligência gostaria de apresentar a você o nosso novo Sistema de Gerenciamento Empresarial (SGEGolden SAT). Este sistema, desenvolvido pelo setor de Inteligência, visa integrar todas as nossas operações, proporcionando uma visão unificada e eficiente de todos os processos empresariais.</p>
                        <p>Com o SGEGolden SAT, você terá acesso a uma série de novas funcionalidades que irão transformar a maneira como gerenciamos nossas atividades diárias:</p>
                        <ul>
                            
                            <li><b>Análise de Dados:</b> Relatórios detalhados e análises preditivas que ajudam na tomada de decisões estratégicas, baseadas em dados concretos e atualizados.</li>

                            <li><b>Gestão de Clientes (CRM):</b> Um módulo completo de CRM que facilita o gerenciamento de relacionamentos com clientes.</li>

                           

                    
                            <li><b>Gestão de Estoque:</b> Monitoramento em tempo real do estoque.</li>
                            <li><b>Segurança e Conformidade:</b> Mecanismos robustos de segurança para proteger os dados da empresa e garantir conformidade com as regulamentações vigentes.</li>
                            <li><b>Integração com Outros Sistemas via API:</b> Integração com outros sistemas via API.</li>
                            <li><b>Controle de Manutenção:</b> Ferramentas para agendamento e acompanhamento de manutenções preventivas e corretivas, garantindo que todos os equipamentos estejam sempre em perfeito funcionamento.</li>
                            <li><b>Configuração e Requisição:</b> Módulos específicos para configuração e gestão de requisições, permitindo um controle detalhado e eficiente de todas as solicitações internas.</li>
                            <li><b>Busca e Análise de Dados:</b> Funcionalidades avançadas de busca e análise de dados em nosso banco de dados, permitindo acesso rápido e preciso às informações necessárias para a tomada de decisões.</li>
                            <li><b>Suporte e Treinamento:</b> Equipe dedicada de suporte e programas de treinamento contínuo para garantir que todos os usuários aproveitem ao máximo as funcionalidades do sistema.</li>
                        </ul>
                        <p>Estamos confiantes de que o SGEGolden SAT será uma ferramenta essencial para otimizar nossas operações e impulsionar o crescimento da empresa. Agradecemos a sua atenção e estamos à disposição para qualquer dúvida ou esclarecimento adicional.</p>
                        <p><b>Atenciosamente,</b><br>Setor de Inteligência</p>
                </div>
              </div>
            </div>

  

    </div>
  
    <!-- Inclua o jQuery, Popper.js e Bootstrap JS no final do body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}